/* Import custom styles */
@import url(/./config/custom.css);
@import url("https://www.icolorpalette.com/download/solidcolorimage/ad8460_solid_color_background_icolorpalette.png");

:root {
  --text-color: white !important;
  --accent-color: #FFA500 !important;
}

/* General styles */
* {
  font-family: ubuntu;
  transition: all 0.3s ease;
}

/* Set background image with zoomed-out effect */
body {
  background-image: url('https://st3.depositphotos.com/1798678/15376/v/450/depositphotos_153767624-stock-illustration-waffle-texture-beautiful-banner-wallpaper.jpg');
  background-size: contain; 200 /* Ensures less zoomed-in effect */
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: "ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Search input styles */
#searchInput {
  padding: 17px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  user-select: none;
  outline: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

#searchInput:focus {
  border: 3px solid var(--accent-color);
}

/* Games container styles */
#gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Game card styles */
.game {
  margin: 10px;
  text-align: center;
  flex: 1 0 200px;
  max-width: 200px;
  display: inline-block;
  transition: transform 0.3s ease;
  border: 2px;
  border-radius: 10px;
}

.game:hover {
  transform: scale(0.95);
  border: 2px solid var(--accent-color);
}

/* Game image styles */
.game img {
  width: 100%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Game description styles */
.game p {
  margin-top: 5px;
  font-weight: 600;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .game {
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (max-width: 400px) {
  .game {
    flex-basis: calc(100% - 20px);
  }
}

.center {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 450px) {
  #searchInput {
    width: 200px;
  }
}

.footer {
  margin: 10px auto;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.link {
  color: var(--accent-color);
  text-decoration: none;
}
